<!DOCTYPE html>
<html>
<head>
    <title>midi</title>
        <meta charset="utf-8">
        <!-- Nota http://semantic-ui.com fyrir interface -->
                  
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/handlebars.js"></script>
        <link rel="stylesheet" href="css/stylesheet.css" />
</head>
<body>
<div id="search">
      <input type="text" placeholder="Leita" id="filter-search" />
    </div>

   <div id="buttons"></div>
<div id="gallery"> 
<ul class="midi-list"></ul>

<script id="tmpl-midi" type="text/tmpl" >
    {{#each results}}

             <div id="myndir" class="box mynd"  data-tags2={{eventHallName}} title={{eventDateName}} alt={{eventDateName}}  >
             
                   <h2 alt={{eventDateName}}> {{eventDateName}} </h2>
                    <img src={{imageSource}} title={{dateOfShow}} >
                    {{eventHallName}}

             </div>

    {{/each}}

</script>
</div>


</body>
<style type="text/css">
      html, body { height: 350px; margin: 0; padding: 0; }
      #map { height: 350px; }
    </style>
  </head>
  <body>
  <div class="box">

<input hidden type="text" id="lat" value="64.141391">
<input hidden type="text" id="lng" value="-21.924698">
<div id="map_canvas"></div>
    <div id="map"></div>
  </div>
    <script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see the error "The Geolocation service
// failed.", it means you probably did not give permission for the browser to
// locate you.

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqA2BCChtiVv4HYjCkOgqIw1D4wD5EGVY&signed_in=true&callback=initMap"
        async defer>
    </script>
<script type="application/javascript" src="js/script2.js"></script>

</html> 